.modal-overlay {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  overflow: auto;
  position: fixed;
}

.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: none;
  position: absolute;
  z-index: 100;
}
